{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="w-auto"></div>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-11">
                    <input type="text" class="form-control d-inline m-0" id="title" name="title" placeholder="Add tasks">
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary d-inline m-0">ADD</button>
                </div>
            </div>
        </form>
    </div>
        {% for task in tasks %}
            {% if task.status %}
                <div class="row task d-flex" id="complete">
                <div class="col-md-6">
                    <s><b>{{task.title}}</b><br><span class="create">Created at: {{task.created }}</span></s>
                        <br><span class="create d-block>">
    {% if task.updated > task.created and task.status%}
        <s>Edited at: {{ task.updated }}</s>
    {% elif task.updated > task.created and not task.status %}
        Edited at: {{ task.updated }}
    {% endif %}
    </span>
                </div>

                <div class="col-md-6 d-flex justify-content-end">
            {% else %}
                <div class="row task">
                <div class="col-md-6">
                    <b>{{task}}</b><br><span class="create">Created at: {{ task.created }}</span>
                        <br><span class="create d-block>">
    {% if task.updated > task.created and task.status%}
        <s>Edited at: {{ task.updated }}</s>
    {% elif task.updated > task.created and not task.status %}
        Edited at: {{ task.updated }}
    {% endif %}
    </span>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                <a href="{% url 'crossoff_item' task.id %}" class="btn btn-success m-1 btn-custom" role="button"> Completed</a>
            {% endif %}
        <a class="btn btn-primary m-1 btn-custom" href="{% url 'update' task.id %}">Update</a>
        <a class="btn btn-danger m-1 btn-custom" href="{% url 'delete' task.id %}">Delete</a>
        </div>

        </div>
        {% endfor %}
        </div>
        </div>
    </div>

{% endblock content %}
