{% extends "base.html" %}

{% block content %}

    <div class="card">
        <h5 class="card-header">Update Task</h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class='col-10 my-1 mx-auto'>
                        <div class="form-group">
                            <label for="title">Task name</label>
                            <input type="text" class="form-control" id="title" name="title" value={{ task.title }}>
                        </div>
                    </div>
                    <div class="col-2 my-1 mx-auto"><label class="form-check-label" for="status">Completed</label>
                        <div class="form-check form-switch">

                            <input class="form-check-input" type="checkbox"
                                    {% if task.status == True %}
                                   checked
                                    {% endif %}
                                   role="switch" id="status name='status" name="status">
                        </div>
                    </div>
                </div>
                <div class="col my-1 mx-auto">
                    <a href="{% url 'index' %}" class="btn btn-info text-white" role="button"> <-Go Back</a>
                    <input type="submit" class="btn btn-primary" name="update_item" value="Update">
                </div>
            </form>
        </div>
    </div>

{% endblock content %}